.avartar-container {
  background-color: transparent;
  width: 20rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;

  .avartar-image {
    background-color: $icon-color;
    width: 100%;
    height: 20rem;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .avartar-name {
    margin-top: 1rem;
    text-align: center;
    color: $icon-color;
    font-size: 2rem;
  }

  @media (max-width: $bp-mobile) {
    $img-height: 25rem;
    $img-min-width: 62.5rem; // 500px
    margin: 0;
    width: 100%;
    height: auto;

    .avartar-image {
      height: $img-height;
      min-width: $img-min-width;
      border-radius: 0;

      img {
        border-radius: 0;
        height: $img-height;
        min-width: $img-min-width;
        object-fit: cover;
      }
    }
  }
}
