.card-box {
  position: relative;
  margin: 5rem 0;

  .card-title {
    $title: 3rem;
    font-size: $title;
    font-weight: 500;
    font-style: italic;
    color: $primary-color;
    margin-bottom: 1rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      transform: translateY($title + 1rem);
      border: 1px solid $primary-color;
    }
  }

  .card-desc {
    $margin-left: 2rem;
    font-size: 1.5rem;
    position: relative;
    margin-left: $margin-left;
    line-height: 3rem;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      left: -$margin-left;
      border-left: 1rem solid rgba($icon-color, 0.5);
    }
  }
}
